<p>What's for dinner?</p>
<form action="cast" method="post">
  <ul class="unstyled">
    <% @choices.each do |choice| %>
      <li>
        <label class="radio">
          <input type="radio" name="vote" value="<%= choice.id %>" id="vote_<%= choice.id %>" />
          <%= choice.name %>
        </label>
      </li>
    <% end %>
  </ul>
  <button type="submit" class="btn btn-primary">Cast this vote!</button>
</form>
