<form action="message" method="post">
  Name:
  <br/>
  <input type="text" name="name">
  <br/>
  Message:
  <br/>
  <input type="text" name="message">
  <br/>
  <button type="submit" class="btn btn-primary">Submit this message!</button>
</form>