<table class="table table-hover table-stripper">
  <% @choices.each do |choice| %>
    <tr>
      <th><%= choice.name %></th>
      <td><%= choice.votes %></td>
      <td><%= '#' * choice.votes %></td>
    </tr>
  <% end %>
</table>
<p><a href="/">Cast more votes!</a></p>
